level-name=OSCityWorld
server-port=25565
motd=OSCity - Virtual Memory

gamemode=survival
force-gamemode=true
difficulty=easy
max-players=1
allow-flight=false

online-mode=false # Disabled for anonymity of participants and examiners
white-list=false
spawn-protection=0

generate-structures=false
level-type=minecraft:flat
initial-enabled-packs=vanilla

enable-rcon=false
enable-query=false
enable-status=true

view-distance=10
simulation-distance=10